{% load staticfiles %}

    <div class="logo">
        <a href="index.html"><img src="{% static "images/logo.png" %}" alt=""></a>
    </div>
    <div class="menu">
        <nav class="clearfix">
            <ul class="clearfix">
                <li class="active"><a href="{% url "home" %}">Restart</a></li>
                <li><a href="{% url "cuppa:sugar" "tea" %}">TEA</a></li>
                <li><a href="{% url "cuppa:sugar" "coffee" %}">COFFEE</a></li>
                <li><a href="{% url "cuppa:sugar" "hotwater" %}">HOT WATER</a></li>
            </ul>
            <a href="#" id="pull">Start Order</a>
        </nav>
    </div>
