{% extends 'services.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block actions %}
    <h2>Anything else I need to know?</h2>
    <div class="image group">
    <form action="{% url "cuppa:notes" beverage sugars milk name%}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "forward" %} Next
        </button>
        {% endbuttons %}

    </form>
    </div>
{% endblock %}