{% extends 'services.html' %}
{% load staticfiles %}

{% block actions %}
    <h2>Thanks for your order!</h2>
    <div class="image group">
    <div class="well">
    <h4>Summary</h4>
    <div>{{ brew.name }}: {{ brew.beverage }}</div>
    <div>
        <div class="col-lg-3 panel panel-default">
            <div class="panel-body text-center">
                <img
                        class="img-responsive img-rounded"
                        src="{% static "images/tea/" %}{{ brew.milkiness.name|slugify }}.png" }/>
                <p>{{ brew.milkiness.name }}</p>
            </div>
        </div>
        <div class="col-lg-3 panel panel-default">
            <div class="panel-body">
                <img
                        class="img-responsive img-rounded"
                        src="{% static "images/cubes/sugar-" %}{{ brew.sugars }}.jpg" }/>
            </div>
        </div>
    </div>
    {% if brew.notes %}
        <div class="clear"/>
    <div>Notes: {{ brew.notes }}</div>
    {% endif %}
    </div>
</div>
{% endblock %}